
<br><br><br><div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            
            <div class="ibox-content">
                <h2>
                    Solicitud de Alianza Brezza
                </h2>
                <p>
                    Provee tus datos para comenzar el proceso de alianza Brezza.
                </p>

                <form id="form" action="#" class="wizard-big">
                    <h1>Cuenta</h1>
                    <fieldset>
                        <h2>Cuenta de Usuario</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Correo *</label>
                                    <input id="email" name="email" type="text" class="form-control required email">
                                </div>
                                <div class="form-group">
                                    <label>Contraseña *</label>
                                    <input id="password" name="password" type="password" class="form-control required">
                                </div>
                                <div class="form-group">
                                    <label>Confirmar Contraseña *</label>
                                    <input id="confirm" name="confirm" type="password" class="form-control required">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                    <h3>¿Qué tipo de alianza deseas?</h3>
                                     <div class="form-group"><label class="col-sm-2 control-label">Aliado</label>

                                        <div class="col-sm-10"><label class="checkbox-inline i-checks"> <input type="checkbox" value="option1">Técnico </label>
                                            <label class="checkbox-inline i-checks"> <input type="checkbox" value="option2"> Finalizarnciero </label>
                                            <label class="checkbox-inline i-checks"> <input type="checkbox" value="option3"> Comercial </label></div>
                                    </div>
                                <div class="text-center">
                                    <div style="margin-top: 20px">
                                        <img src="<%= image_path('logo/brezza-logo1.png') %>"  width="200px" alt="cafe"/>
                                    </div>
                                </div>
                            </div>
                        </div>

<script type="text/javascript">


$(function() {

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

});

</script>

                    </fieldset>
                    <h1>Perfil</h1>
                    <fieldset>
                        <h2>Información de Perfil</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nombre *</label>
                                    <input id="name" name="name" type="text" class="form-control required">
                                </div>
                                <div class="form-group">
                                    <label>Apellido *</label>
                                    <input id="surname" name="surname" type="text" class="form-control required">
                                </div>
                                <div class="form-group">
                                    <label>Teléfono *</label>
                                    <input id="phone" name="phone" type="text" class="form-control required">
                                </div>
                                
                            </div>
                            <div class="col-lg-6">
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Pais</label>

                                        <select class="form-control m-b" name="account">
                                            <option>Venezuela</option>
                                            <option>Chile</option>
                                            <option>EE.UU.</option>
                                            <option>España</option>
                                        </select>
                           
                                </div> 
                                <div class="form-group">
                                <label class="col-sm-2 control-label">Estado</label>

                                    <select class="form-control m-b" name="account">
                                        <option>Lara</option>
                                        <option>Zulia</option>
                                        <option>Carabobo</option>
                                        <option>Amazonas</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Dirección *</label>
                                    <input id="address" name="address" type="text" class="form-control">
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <h1>Productos</h1>
                    <fieldset>
                        <div class="text-center" style="margin-top: 20px">
                          
                <p>
                	Selecciona los productos de los que te interesa ser aliado (max. 3)
                </p>
                
                <div class="form-group">
                    <label class="font-normal">Productos</label>
                    <div>
                        <select data-placeholder="Selecciona un producto" class="chosen-select" multiple tabindex="4">
                            <option value="">Select</option>
                            <option value="Valoración de Plataformas">Valoración de Plataformas</option>
                            <option value="Nuevo Scoring Crediticio">Nuevo Scoring Crediticio</option>
                            <option value="Participacion Ciudadana">Participacion Ciudadana</option>
                            <option value="Innova Café">Innova Café</option>
                            <option value="Multiplataforma Sector Energético">Multiplataforma Sector Energético</option>
                            <option value="Multiplataforma Sector Agroalimentario">Multiplataforma Sector Agroalimentario</option>
                            <option value="Multiplataforma Sector Salud">Multiplataforma Sector Salud</option>
                            <option value="Multiplataforma Sector Turismo">Multiplataforma Sector Turismo</option>
                            <option value="Multiplataforma Sector Inmobiliario">Multiplataforma Sector Inmobiliario</option>
                            <option value="Plataforma para pre-emprendedores">Plataforma para pre-emprendedores</option>
                            <option value="Plataforma para desahuciados inmobiliarios">Plataforma para desahuciados inmobiliarios</option>
                            <option value="Plataforma para recuperación de áreas naturales">Plataforma para recuperación de áreas naturales</option>
                        </select>
                    </div>
                </div>

                        </div>
                    </fieldset>

                    <h1>Finalizar</h1>
                    <fieldset>
                         <div class="form-group">
                                    <label>Capacidad y Experiencia *</label>
                                    <textarea id="phone" name="phone" type="text-area" class="form-control required"></textarea>
                                </div>
                                
                        <div class="form-group">
                            <label>Carta de Intención</label>
                            <span class="help-block m-b-none">Anexe en PDF (opcional) una carta de intención dirigida a Brezza Project, s.a., con su exposición de motivos.</span>
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                
                                    <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">Selecciona un archivo</span>
                                    <input type="file" name="..."/>
                                </span>
                                
                            </div> 
                            
                        </div>
                        <div class="form-group">
                            <label>Curriculum Vitae *</label>
                            <span class="help-block m-b-none">Anexe en archivos PDF su síntesis curricular y el brochure de su empresa (si cuenta con empresa que lo respalde).</span>
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                
                                    <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">Selecciona un archivo</span>
                                    <input type="file" name="..."/>
                                </span>
                                
                            </div> 
                        </div>
                        <h2>Términos y Condiciones</h2>
                        <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">Estoy de acuerdo con los términos y condiciones.</label>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $("#wizard").steps();
    $("#form").steps({
        bodyTag: "fieldset",
        onStepChanging: function (event, currentIndex, newIndex) {
            // Always allow going backward even if the current step contains invalid fields!
            if (currentIndex > newIndex) {
                return true;
            }

            // Forbid suppressing "Warning" step if the user is to young
            if (newIndex === 3 && Number($("#age").val()) < 18) {
                return false;
            }

            var form = $(this);

            // Clean up if user went backward before
            if (currentIndex < newIndex) {
                // To remove error styles
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }

            // Disable validation on fields that are disabled or hidden.
            form.validate().settings.ignore = ":disabled,:hidden";

            // Start validation; Prevent going forward if false
            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {
            // Suppress (skip) "Warning" step if the user is old enough.
            if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                $(this).steps("next");
            }

            // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3) {
                $(this).steps("previous");
            }
        },
        onFinishing: function (event, currentIndex) {
            var form = $(this);

            // Disable validation on fields that are disabled.
            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
            form.validate().settings.ignore = ":disabled";

            // Start validation; Prevent form submission if false
            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            var form = $(this);

            // Submit form input
            form.submit();
        }
    }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

});

</script>

<% end %>

<style type="text/css">
    span {
  display: contents;
}
</style>