// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************************************************************
					KEVIN
*************************************************************/		
@import "base/variables";			
//////////////////////////////////////////////////////////////////////////////
$outline-width: 0;
$break-point: 500px;

//@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: lato;
}

$gray-base:     #999999;
$brand-primary: #3498DB; //Zen Blue

.section-header {
  color: $brand-primary;
  font-weight: 400;
  font-size: 1.4em;
}


.pasos-header {
  @extend .section-header;
  margin-bottom: 20px;  
  text-align: center;
}
.pasos-timeline {
  outline: 1px dashed rgba(red, $outline-width);
  
  @media screen and (max-width: $break-point) {
    border-left: 2px solid $brand-primary;
    margin-left: 15px;
  }
  
  @media screen and (min-width: $break-point) {
    //border-top: 2px solid $brand-primary;
    padding-top: 0px;
    margin-top: 40px;
    margin-left: 16.65%;
    margin-right: 16.65%;
  }
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.pasos-one,
.pasos-two,
.pasos-three,
.pasos-four {
  outline: 1px dashed rgba(green, $outline-width);
  
  @media screen and (max-width: $break-point) {
    margin-left: -25px;
  }
  
  @media screen and (min-width: $break-point) {
    float: left;
    width: 25%;  
    margin-top: -50px;
  }
}
.pasos-one,
.pasos-two,
.pasos-three {
  @media screen and (max-width: $break-point) {
    padding-bottom: 40px;
  }
}
.pasos-one {
  @media screen and (min-width: $break-point) {
    margin-left: -16.65%;
    margin-right: 0.65%;
  }
}
.pasos-two{
  margin-left: 10.65%;
}
.pasos-three{
  margin-left: 10.65%;
}
.pasos-four {
  @media screen and (max-width: $break-point) {
    margin-bottom: -100%;
  }
  @media screen and (min-width: $break-point) {
    margin-left: 10.65%;
    margin-right: -16.65%;
  }
}

.pasos-img {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%; 
  
  @media screen and (max-width: $break-point) {
    float: left;
    margin-right: 20px;
  }
}

.pasos-name,
.pasos-description {
  margin: 0;
        
}
.pasos-name {

  @extend .section-header;
        padding-top: 15px;
  @media screen and (min-width: $break-point) {
    text-align: center;
  }
}
.pasos-description {
  overflow: hidden;
  
  @media screen and (min-width: $break-point) {
    text-align: center;
  }
}

/////////////////////


.cool-link.start {
    display: inline-block;
    color: #00257b;
    text-decoration: none;
        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.cool-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    transition: width .10s;
}


@-webkit-keyframes example {
    0%   { content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00257b;
    transition: width .10s;}
    25%  { width: 10%;}
    50%  { width: 45%;}
    75%  { width: 50%;}
    100% { width: 100%;}
}

@keyframes example {
    0%   { //content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00257b;
    transition: width .10s;}
    15%  { width: 12%;}
    40%  { width: 40%;}
    50%  { width: 60%;}
    70% { width: 90%;}
    100%{ width: 100%;}
}
///////////////////////////////////////////////////////////////////////
			//portfolio
/////////////////////////////////////

#filters {
	margin:1%;
	padding:0;
	list-style:none;
}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		margin: 1px;
		padding:5px 20px;		
		text-decoration:none;
		color: $text-color;
		cursor: pointer;
		border-bottom: 2px solid $navy;

	}
	
	#filters li span.active {
		background: $navy;
		color:#fff;
		border-bottom: 2px solid white;

	}
 

 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: $navy;
		cursor:pointer;
		height: 150px
	}

	.portfolio img {
		max-width:100%;
		position: relative;
		top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
	}
	
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

		.portfolio .label-bg {
			background: $navy;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
			}
	
	.portfolio:hover .label {
    bottom:0;
  }
	.portfolio:hover img {
    top:-30px;
  }  

  ///////////

  /* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px; 
	}
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container { 
		width: 95%; 
	}
	
	#portfoliolist .portfolio {
		width:48%;
		margin:1%;
	}		
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 70%;
	}
}


/*/////////////////////////////////////////////////////////////
              pre-loader
////////////////////////////////////////////////////////////*/

.preloader{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
}

.preloader .preloader-gif{
    display: block;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 42%;
    left: 42%;
    margin: -40px 0 0 -40px;
    background: url('loader.gif') no-repeat; 
    background-size: contain;
  
}              

/*************************************************************
					CARLOS
*************************************************************/
.panel-default{
  border-color: transparent;
}

.panel-default>.panel-heading,
.panel{
  
  border:0 none;
  box-shadow:none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  background: #fff;
  color: #858586;
}

.panel-body{
  padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
  margin-top: 20px;
  border-top: 1px solid #fff;
}

.panel-group .panel{
  border-radius: 0;
}

.panel-heading{
    border-radius: 0;
}

.panel-title>a{
  color: #4e4e4e;
}

.accordion-inner img{
  border-radius: 4px;
}


.panel-heading.active{
  background: #2487cd;
}

.panel-heading.active .panel-title>a{
  color:#fff;
}

a.accordion-toggle  i{
  width: 40px;
  line-height: 34px;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
  margin-right: -15px;
  background: #00257b;
  color:#fff;
}

.panel-heading.active a.accordion-toggle i{
  background: #00257b;
  color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i{
  background: #00257b;
  color: #fff;
}


//active

.actives {
  background-color: #3498DB !important;
}
